{% extends 'user_dashboard/base.html' %}
{% block content %}
<div id="layout-content">
  <div class="min-sm:container">

    {# Header Section #}
    <div class="card card-border bg-base-300 rounded-box relative w-full overflow-hidden p-6">
      <div class="flex justify-between">
        <div>
          <div class="flex items-center gap-1">
            <a href="{% url 'user_dashboard:index'%}" class="hover:link text-base-content/80 text-sm">Dashboard</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-base-content/80 size-3.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
            <p class="text-sm">Subscription</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-base-content/80 size-3.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
            <p class="text-sm">Plans</p>
          </div>
          <p class="text-primary mt-4 text-xl font-medium">
            Subscription Plans
          </p>
          <p class="text-base-content/80">
            Choose the perfect plan for your needs and start your subscription.
          </p>
        </div>
      </div>
      <span class="iconify lucide--tags text-primary/5 absolute start-1/2 -bottom-12 size-44 -rotate-25"></span>
    </div>

    {# Plans Section - Cotton pricing component #}
    <section class="mt-6">
      <c-pricing-section
        :plans_monthly="plans_monthly"
        :plans_yearly="plans_yearly"
        :user_subscription="user_subscription"
        :user_product_id="user_product_id"
      />
    </section>

  </div>
</div>
{% endblock content %}
