{% load allauth socialaccount i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
  <div class="space-y-3">
    {% for provider in socialaccount_providers %}
      {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}

      <!-- Google Provider -->
      {% if provider.id == "google" %}
        <a href="{{ href }}" class="btn btn-lg btn-outline btn-block gap-2 font-body hover:bg-base-200">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>
            <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>
            <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>
            <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>
          </svg>
          {% if LANGUAGE_CODE == "es" %}
            {% trans "Continue with Google" %}
          {% else %}
            {% trans "Continue with Google" %}
          {% endif %}
        </a>

      <!-- Other providers -->
      {% else %}
        <a href="{{ href }}" class="btn btn-lg btn-outline btn-block gap-2 font-body">
          {{ provider.name }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
